version: '3.8'
services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant-rag
    ports:
      - "6333:6333" # API Port
      - "6334:6334" # GRPC Port
    volumes:
      - ./qdrant_storage:/qdrant/storage:z
    restart: always